GOOGLE_SPREADSHEET_ID=1Zzg03PXa2Oi9tkOJsu0sdoWuMDn8RZeqx5KYUr8ssSU
GOOGLE_SERVICE_ACCOUNT_KEY_PATH=./credentials.json
PORT=3001
SESSION_SECRET=9d6f1c3e2b7a4f8d1e0c5b9a7f2d6e3c4b1a8f0d9e7c6b5a3f1d2c4e6b8a0f9
RECEPTION_PASSWORD=1234
CORS_ORIGIN=https://event.goto-webmake.com
APP_BASE_PATH=/event-checkin
